{% extends 'base.html' %}

{% block content %}
    {% if post %}
        <article>
            <h2>{{ post.title }}</h2>
            <p><em>by {{ post.author }} on {{ post.date }}</em></p>
            <div>{{ post.content }}</div>
            <div>{{ post.author }}</div>
            <div>{{ post.date }}</div>
            <div>{{ post.X-INTERNAL-IP }}</div>
            <div>{{ post.X-SECRET-KEY }}</div>
            <div>{{ post.DB_Password }}</div>
        </article>
    {% else %}
        <p>Post not found.</p>
    {% endif %}
{% endblock %}
